<launch>
  <arg name="raspicam_receiver_IP" default=""/>

  <include file="$(find ca_node)/launch/create_2.launch"/>

  <!-- raspicam -->
  <include if="$(eval arg('raspicam_receiver_IP') != '')" file="$(find ca_visual_odometry)/launch/raspicam_stream.launch">
    <arg name="IP" value="$(arg raspicam_receiver_IP)"/>
  </include>

  <!-- IMU -->
  <!-- <include file="$(find ca_imu)/launch/imu.launch"/> -->

  <!--
    Mapping sensors:

    * RPLidar A2: lidar
    * ASUS Xtion Pro: pointcloud
  -->
  <arg name="mapping_sensor" default="$(optenv MAPPING_SENSOR lidar)"/>
  <include if="$(eval arg('mapping_sensor') == lidar)" file="$(find rplidar_ros)/launch/rplidar.launch"/>
  <include if="$(eval arg('mapping_sensor') == pointcloud)" file="$(find openni2_launch)/launch/openni2.launch"/>
</launch>
